* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #F2F2F7;
    --default-color: #fff;
    --primary-color: #161846;

}

body {
    background-color: var(--background-color);
}